services:
  database:
    image: 'postgres:17' # NOTE:  Will _NOT_ work >= 18 ('latest' will break this)
    ports:
      - 15432:5432
    env_file:
      - .env
    networks:
      - postgres-network
    volumes:
      - ${PWD}/db-data/:/var/lib/postgresql/data/
      - ${PWD}/init.sql:/docker-entrypoint-initdb.d/init.sql
  
  pgadmin:
    image: dpage/pgadmin4
    ports:
      - 15433:80
    env_file:
      - .env
    depends_on:
      - database
    networks:
      - postgres-network
    volumes:
      # REQUIRED BEFORE BRINGING UP THE STACK
      #      $ chown -R 5050:5050 ${PWD}/pgadmin-data
      # (ref: https://www.pgadmin.org/docs/pgadmin4/latest/container_deployment.html#mapped-files-and-directories)
      - ${PWD}/pgadmin-data/:/var/lib/pgadmin/

networks: 
  postgres-network:
    driver: bridge
